.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  justify-content: flex-start;
  box-sizing: border-box;
  margin-top: 100px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
}

.searchBar input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.gameContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.gameCard {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100px; /* Adjust width */
  height: 150px; /* Adjust height */
  text-align: center;
}

.cardImg {
  width: 100%;
  height: 100%; /* Adjusted to fill the gameCard parent */
  object-fit: cover; /* Ensures image covers the card without stretching */
}
