.logDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e2b110;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande"
}

.logButton{
    color: #e2b110;
}

.logButton:hover{
    border-color: #e2b110;  
}

.logForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logForm label{
    margin-bottom: 10px;
}

.logForm input{
    border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  color: #e2b110;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  margin-left: 10px;
  
}