.welcomeText {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 150px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #e2b110;
  margin-left: 200px;
  font-size: larger;
}

.logoYellow {
  position: fixed;
  width: 550px;
  right: 270px;
  bottom: 0;
  
}

