
.navbarclass {
  display: flex;
  background-color: #e2b110;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.navbarclass a {
  text-decoration: none;
  
}

.logoHome{
  width: 100px;
  height: fit-content;
}

.logosDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.logosDiv img {
  height: 90px;
}

.logosDiv button{
  text-decoration: none;
  color: whitesmoke;
  margin: 20px;
  background-color: #333;
  width: 80px;
  
  height: 70px;
}

.logosDiv a{
  text-decoration: none;
  color: whitesmoke;
  margin: 20px;
  background-color: #333;
  width: 80px;
  height: 80px;
  height: 70px;
  border-radius: 8px;
}

.navbarWelcomeClass {
  display: flex;
  background-color: #e2b110;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.signingButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.signingButtons a {
  text-decoration: none;
  color: whitesmoke;
  margin: 20px;
  background-color: #333;
  width: 80px;
  height: fit-content;
  
}

.signingButtons h4{
  margin-left: 9px;
}

.signingButtons a:hover {
  color: #e2b110;
}

.logo {
  width: 100px;
}
