.searchBar input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.navbarclass {
  display: flex;
  background-color: #e2b110;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.navbarclass a {
  text-decoration: none;
}

.logosDiv {
  display: flex;
  background-color: #fbf3f3;
  position: absolute;
  right: 0;
  top: 10;
  height: 90px;

  justify-content: space-between;
  align-items: right;
}

.logosDiv img {
  height: 90px;
}

.navbarWelcomeClass {
  display: flex;
  background-color: #e2b110;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.signingButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.signingButtons a {
  text-decoration: none;
  color: whitesmoke;
  margin: 20px;
  background-color: #333;
  width: 80px;
  height: fit-content;
}

.signingButtons a:hover {
  color: #e2b110;
}

.logo {
  width: 100px;
}
