body {
  margin: 0;
  background-color: #333;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.loadingDiv {
  color: #e2b110;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100%; 
  text-align: center; 
}

@media (max-width: 768px) {
  .searchBar {
    top: 10px;
  }

  .gameContainer {
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  .searchBar input {
    width: 90%;
    font-size: 0.9rem;
  }

  .gameCard {
    width: 45%;
  }

  .gameContainer {
    margin-top: 60px;
  }
}

