#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .searchBar {
    top: 10px;
  }

  .gameContainer {
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  .searchBar input {
    width: 90%;
    font-size: 0.9rem;
  }

  .gameCard {
    width: 45%;
  }

  .gameContainer {
    margin-top: 60px;
  }
}

.welcomeText {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
